

.card {
  background-color: greenyellow;
  width: 350px;
  height: 450px;
  display: flex;
  border: 1px black solid;
  border-radius: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
  margin: 50px;
  padding: 15px;
  #img1 {
  background-image: url(../shoes/backpack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  }
  #img2 {
    background-image: url(../shoes/noski.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #img3 {
    background-image: url(../shoes/shoozz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #img4 {
    background-image: url(../shoes/foot.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #img5 {
    background-image: url(../shoes/dimdop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #img6 {
    background-image: url(../shoes/dabdab.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  .cardimg {
    border: 1px solid black;
    width: 320px;
    height: 330px;
    border-radius: 13px;
    // user-select: none;
    pointer-events: none;
  }
  .cardtitle {
    text-align: center;
    padding: 0;
    margin: 0;
    height: max-content;
  }
  .cardtext {
    text-align: center;
    padding: 0;
    margin: 0;
    height: max-content;
    font-size: 20px;
    font-weight: bold;
  }
  .cardlink {
    text-align: right;
    padding: 0;
    margin: 0;
    height: max-content;
    font-weight: bold;
  }
}

.conteiner {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif, adobe-notdef;
}

.head {
  height: 400px; 
  flex-shrink: 0;
  background-image: url(../popa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  filter: brightness(0.8);
  nav, ul {
    display: flex;
    list-style-type: none;
    align-items: center;
  }
  ul {
    margin-left: 300px;
  }
  li {
    padding: 0px 30px;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  a {
    color: rgb(47, 236, 0);
    text-shadow: 0 0 16px greenyellow;
  }
  hr {
    background-color: aqua;
    box-shadow: 0 0 16px aqua;
  }
  h1 {
    letter-spacing: 2px;
    padding: 10px 40px;
    text-transform: uppercase;
    user-select: none;
    color: rgb(116, 101, 101);
  }
}

.maintext {

  #cards_1{
    display: flex;
    flex-direction: row;
    gap: 100px;
  }

  #cards_2 {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  gap: 80px;
  flex-grow: 1;
  height: max-content;
  width: 100%;
  background-image: url(../pidor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}  



.foot {
  height: 100px;
  flex-shrink: 0;
  display: flex;
  text-align: right;
  justify-content: end;
  footer {
    display: flex;
    text-transform: capitalize;
    align-items: center;
    text-align: right;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 30px;
    span {
      text-align: end;
      pointer-events: none;
      user-select: none;
    }
  }
} 

a {
  font-size: 20px;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: black;
}

a::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: green;
  transform: scaleX(0);
  transform-origin: right;
  position: absolute;
  transition: transform 1s;
  left: 0;
  bottom: 0;
  box-shadow: 0px 0px 12px 0px green;
  
}

a:hover::after {
  transform: scaleX(1);
  width: 100%;
  transform-origin: left;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-thumb {
  background-color: aqua;
}

.foot {
  background-color: aquamarine;
}

.interesting {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 20px;
  margin: 50px;
  h2 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: capitalize;
    padding-left: 30px;
  }
  blockquote {
    width: 800px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
  }
}